<div id="sink" class="carded fullwidth inner-scroll" style="width: 100%;">
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16 ml-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    local_car_wash
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ 'SINK' | translate }}
                </span>
            </div>
            <div class="search-wrapper mb-md-0" fxLayout="column" fxLayout.gt-sm="row"> 
                <form name="dateForm" [formGroup]="dateForm" class="event-form w-100-p" fxLayout="column" fxLayout.gt-xs="row">
                    <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                            <mat-label>{{'STARTDATE' | translate}}</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="start">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                            <mat-label>{{'ENDDATE' | translate}}</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" name="end" formControlName="end">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </form>
                <div fxLayoutAlign="start center">
                    <button mat-raised-button color="warn" (click)="searchSink()" class="filter_button mt-md-0 pr-sm-8 custom-button">
                        <span>{{ 'SEARCH' | translate }}</span>
                    </button>
                    <button mat-raised-button
                            [routerLink]="'/sink/new'"
                            class="filter_button fuse-white mt-md-0 pr-sm-8 custom-button">
                        <span>{{ 'ADDBUTTON' | translate }}</span>
                    </button>
                </div>
            </div>
            
        </div>
        <div class="content-card">
            <mat-table class="products-table"
                #table [dataSource]="dataSource"
                matSort
                [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>
                <ng-container matColumnDef="carnumber">
                    <mat-header-cell *matHeaderCellDef>{{ 'CARNUMBER' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="text-truncate">{{data.carnumber}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="carmake">
                    <mat-header-cell *matHeaderCellDef>{{ 'CARMAKE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data" >
                        <p class="text-truncate">{{data.carmake.make}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="carmodel">
                    <mat-header-cell *matHeaderCellDef>{{ 'CARMODEL' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="text-truncate">{{data.carmodel.model}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="boxnumber">
                    <mat-header-cell *matHeaderCellDef>{{ 'BOXNUMBER' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="text-truncate">{{data.boxnumber}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="services">
                    <mat-header-cell *matHeaderCellDef>{{ 'SERVICES' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="text-truncate" style="margin-right: 10px" *ngFor="let service of data.services">{{service.name}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell  *matHeaderCellDef> {{'ACTION' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <button mat-raised-button (click)="deleteSink(data._id)" color="warn" fxHide fxShow.gt-lg>{{'DELETE' | translate}}</button>
                        <button mat-icon-button (click)="deleteSink(data._id)" color="warn" fxShow fxHide.gt-lg>
                            <mat-icon>delete icon</mat-icon>
                        </button>
                        <button mat-raised-button [routerLink]="'/sink/' + data._id" color="primary" fxHide fxShow.gt-lg>{{'EDIT' | translate}}</button>
                        <button mat-icon-button [routerLink]="'/sink/' + data._id" color="primary" fxShow fxHide.gt-lg>
                            <mat-icon>edit icon</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let data; columns: displayedColumns;"
                        class="product"
                        matRipple>
                </mat-row>
            </mat-table>
            <div class="products-table-mob">
                <div class="products-table-one mb-10" *ngFor="let data of dataSource">
                    <div class="row">
                        <div class="title-panel">
                            {{ 'CARNUMBER' | translate }}
                        </div>
                        <div class="content-panel">
                            {{data.carnumber}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="title-panel">
                            {{ 'CARMAKE' | translate }}
                        </div>
                        <div class="content-panel">
                            {{data.carmake.make}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="title-panel">
                            {{ 'CARMODEL' | translate }}
                        </div>
                        <div class="content-panel">
                            {{data.carmodel.model}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="title-panel">
                            {{ 'BOXNUMBER' | translate }}
                        </div>
                        <div class="content-panel">
                            {{data.boxnumber}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="title-panel">
                            {{ 'SERVICES' | translate }}
                        </div>
                        <div class="content-panel">
                            <p class="text-truncate" style="margin-right: 10px" *ngFor="let service of data.services">{{service.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title-panel">
                            {{'ACTION' | translate}}
                        </div>
                        <div class="content-panel">
                            <button mat-raised-button (click)="deleteSink(data._id)" color="warn" style="margin-right: 10px; width: 45%;">{{'DELETE' | translate}}</button>
                            <button mat-raised-button [routerLink]="'/sink/' + data._id" color="primary" style="width: 45%;">{{'EDIT' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <mat-paginator #paginator
                [length]="datalength"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="getDataSource()">
            </mat-paginator>
        </div>
    </div>
</div>
