<div id="sink" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    local_car_wash
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ 'SINK' | translate }}
                </span>
            </div>
            <div class="mb-md-0" fxLayout.gt-sm="row" fxLayout="column"> 
                <form name="dateForm" [formGroup]="dateForm" class="event-form">
                    <div fxFlex="1 0 auto" fxLayout.gt-sm="row" fxLayout="column">
                        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                            <mat-label>{{'STARTDATE' | translate}}</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="start">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                            <mat-label>{{'ENDDATE' | translate}}</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" name="end" formControlName="end">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </form>
                <div fxLayout.gt-sm="row" fxLayout="column">
                    <button mat-raised-button color="warn" (click)="searchSink()" class="add-product-button mt-24 mt-md-0 custom-button">
                        <span>{{ 'SEARCH' | translate }}</span>
                    </button>
                    <button mat-raised-button
                            [routerLink]="'/sink/new'"
                            class="add-product-button fuse-white mt-24 mt-md-0 custom-button">
                        <span>{{ 'ADDBUTTON' | translate }}</span>
                    </button>
                </div>
            </div>
            
        </div>
        <div class="content-card">
            <mat-table class="products-table"
                #table [dataSource]="dataSource"
                matSort
                [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>
                <ng-container matColumnDef="carnumber">
                    <mat-header-cell *matHeaderCellDef>{{ 'CARNUMBER' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <p class="text-truncate">{{data.carnumber}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="carmake">
                    <mat-header-cell *matHeaderCellDef  fxHide fxShow.gt-lg>{{ 'CARMAKE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data"  fxHide fxShow.gt-lg>
                        <p class="text-truncate">{{data.carmake.make}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="carmodel">
                    <mat-header-cell *matHeaderCellDef  fxHide fxShow.gt-lg>{{ 'CARMODEL' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data"  fxHide fxShow.gt-lg>
                        <p class="text-truncate">{{data.carmodel.model}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="boxnumber">
                    <mat-header-cell *matHeaderCellDef  fxHide fxShow.gt-lg>{{ 'BOXNUMBER' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data"  fxHide fxShow.gt-lg>
                        <p class="text-truncate">{{data.boxnumber}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="services">
                    <mat-header-cell *matHeaderCellDef  fxHide fxShow.gt-lg>{{ 'SERVICES' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let data"  fxHide fxShow.gt-lg>
                        <p class="text-truncate" style="margin-right: 10px" *ngFor="let service of data.services">{{service.name}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <mat-header-cell  *matHeaderCellDef> {{'ACTION' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let data">
                        <button mat-raised-button (click)="deleteSink(data._id)" color="warn" fxHide fxShow.gt-lg>{{'DELETE' | translate}}</button>
                        <button mat-icon-button (click)="deleteSink(data._id)" color="warn" fxShow fxHide.gt-lg>
                            <mat-icon>delete icon</mat-icon>
                        </button>
                        <button mat-raised-button [routerLink]="'/sink/' + data._id" color="primary" fxHide fxShow.gt-lg>{{'EDIT' | translate}}</button>
                        <button mat-icon-button [routerLink]="'/sink/' + data._id" color="primary" fxShow fxHide.gt-lg>
                            <mat-icon>edit icon</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let data; columns: displayedColumns;"
                        class="product"
                        matRipple>
                </mat-row>
            </mat-table>
            <mat-paginator #paginator
                [length]="datalength"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="getDataSource()">
            </mat-paginator>
        </div>
    </div>
</div>
